body {
  font-family: Arial, sans-serif;
  margin: 10;
}
header, footer {
  background: #333333;
  color: red;
  padding: rem;
  text-align: center;
}
nav ul {
  list-style-position: inside;
  padding: 5;
}
nav li {
  display:inline-flexbox;
  margin: 1 1rem;
}
section, aside {
  padding: 3rem;
}